article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }



@mixin verticalMiddle {
	position: relative;
	top: 40%;
	transform: translateY(-50%);
}

html {
	font-size: 62.5%;
	height: 100%;
	background-color: #FCFCFC;

	body {
		height: 100%;
		overflow-x: hidden;
		.wrapper {
			height: 100%;	
		}
	}
}

/* ---------------------------
	TYPOGRAPHY
	-------------------------- */

$text : 'Didact Gothic', sans-serif;
$title : #D8D8D8;
$altText : lighten(#4A4A4A, 20%);
$hover : #FFD700;

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
	font-family: $text;
	color: $title;
}

h2, 
i {
	color: $altText;
}

h1 {
	font-size: 16rem;
	text-transform: lowercase;
	letter-spacing: 3px;
}

h2, h3 {
	font-size: 3rem;
}


h3 {
	text-decoration: underline;
	line-height: 4rem;
	color: black;
	margin: 30px 0 15px;
}

p {
	font-size: 2rem;
	line-height: 3rem;
	color: black;
}

i {
	transition: all 0.3s;
	&:hover {
	opacity: 0.6;
	transform: scale(1.2);
	color: lighten($hover, 20%);
	}
}

table {
	font-size: 1.7rem;

	th,
	td {
		border: 1px solid black;
		padding: 10px;
	}
}

/* ---------------------------
	HERO SECTION
	-------------------------- */

header {
	min-height: auto;

	.hero {
		min-height: 100vh;
		text-align: left;
		padding: 5% 10%;
		// background: #4A4A4A;
		background-image: linear-gradient(-179deg, rgba(255,255,255,0.7) 0%, rgba(0,0,0,0.3) 100%);

		h1 {
		margin: 10% 0 0;
		}

		h2 {
			margin: 5px 0 45px;
		}

		i {
			margin-right: 40px;
		}
	}
}

.heroText {
	margin: 0 auto 20px;
	max-width: 80%;
}

.shine-word {
	font-size: 22vh;
}

.innerWrapper {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 10px;
}

.code {
	width: 100%;
	background-color: #D8D8D8;
	color: black;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
	font-size: 1.5rem;
	font-weight: 100;
	padding: 0;
	margin: 0;

	&:last-child {
		margin-bottom: 60px;
	}
}
code[class*="language-"] {
	line-height: 1.2;
}
.github {
	background-color: #655869;
	padding: 10px;
	width: 100%;
	text-align: center;

	p {
		display: inline-block;
		padding: 0 20px 10px 0;
		font-size: 2.5rem;
	}

	a {
		color: black;
	}

	img {
		position: relative;
		transform: translateY(20%);
		padding-top: 5px;
		transition: all 0.3s;
	}
}

ul {
	padding: 10;

	li {
		font-family: $text;
		font-size: 2rem;
		font-weight: 200;
		padding: 5px;

		a {
			font-weight: bold;
			text-decoration: none;
			font-style: italic;
			// font-variant: small-caps;
			color: black;

			&:hover {
				color: lighten(black,50%);
			}
		}
	}
}

footer {
	text-align: center;
	font-size: 2rem;
	color: white;
	padding: 40px;
	font-weight: 300;
	font-family: 'Didact Gothic', sans-serif;
	p {
		color: black;
	}
	a {
		color: red;
		text-decoration: none;
		transition: all 0.3s;

		&:hover {
			transform: scale(1.2);
			color: red;
		}
	}
}

@media screen and (max-width: 500px) {
	.shine-word {
	font-size: 7vh;
	}
	h2 {
		font-size: 2rem;
	}
}