.html {
  width: 100%;
  overflow: none; }

.lightSwitch {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #222;
  height: 38px;
  width: 80px;
  border-radius: 30px;
  -webkit-transition: all 0.3s;
          transition: all 0.3s; }

.turntOff {
  background: silver; }

.toggle {
  position: absolute;
  height: 28px;
  width: 28px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
  background-color: #fff; }

.off:before {
  content: "ON";
  position: absolute;
  font-family: sans-serif;
  top: 5px;
  left: 36px;
  color: #fff;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  font-size: 1.5rem; }

.on {
  left: 45px;
  background: #000; }

.on:before {
  content: "OFF";
  color: #222;
  position: absolute;
  left: -34px;
  top: 5px;
  font-family: sans-serif;
  -webkit-animation: fadeIn 0.3s;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  font-size: 1.5rem; }

@-webkit-keyframes fadeIn {
  0% {
    color: white; }

  30% {
    color: white; }

  100% {
    color: black; } }

.show {
  position: absolute;
  top: 10px;
  left: 50px;
  width: 120px;
  height: 120px;
  background-color: rgba(255, 228, 181, 0.1);
  border-radius: 50%;
  box-sizing: none;
  pointer-events: none; }

.shadow {
  box-shadow: 0 0 0 20000px rgba(0, 0, 0, 0.75); }

.gremlin {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 108px;
  height: 96px;
  background: url('../images/gremlin-sprite1x.png') 0 0; }

.gremlinMove {
  -webkit-animation: walkLeft .2s steps(2) infinite, moveGremlin 15s steps(100) infinite; }

.mask {
  display: absolute;
  width: 108px;
  height: 96px;
  background: url('../images/gremlin-sprite1x.png') 108px 0; }

.maskBg {
  display: absolute;
  width: 108px;
  height: 108px;
  background: lightsteelblue; }

.gremlinMove:hover .mask, .gremlinMove:hover .maskBg {
  display: block; }

.paused {
  -webkit-animation-play-state: paused; }

@-webkit-keyframes walkLeft {
  0% {
    background-position: 324px 0; }

  100% {
    background-position: 108px 0; } }

@-webkit-keyframes walkRight {
  0% {
    background-position: 540px 0; }

  100% {
    background-position: 540px 0; } }

@-webkit-keyframes surprise {
  0% {
    background-position: 432px 0; }

  100% {
    background-position: 540px 0; } }

@-webkit-keyframes moveGremlin {
  0% {
    left: -10%; }

  49% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); }

  50% {
    left: 100%;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }

  99% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }

  100% {
    left: -10%;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); } }
